
/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%; }
    
    .row { padding: 0 2%;}
}



/* Small table to big tables: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    body { font-size: 18px; }
    section {padding: 60px 0; }
    
    .local-limon h3 {margin-left: 50px;}
    
    .cortes-icon { font-size: 10px;}
    
    .cortes span {font-size: 20px;
        text-align: center; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;}
    
    .step-box { margin-top: 10px;}
    .step-box:last-child { margin-top: 10px;}
    .works-steps { margin-bottom: 40px;}
    .works-steps:last-of-type { margin-top: 60px;}
    
    .logo1 { width: 50%; }
    
    .icon-feature { font-size: 30px;}
}




/* Small phones to small tables: from 481 to 767px */
@media only screen and (max-width: 767px){
    
}




/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px){
    
}









